<div class="row">
    <div class="col-md-12">
        <h1>To do</h1>
    </div>
</div>

<div class="row" ng-controller="todoCtrl">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <button ng-click="newTodoModal()" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped" ng-init="listTodo()">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="todo in todoList">
                        <td>{{ todo.title }}</td>
                        <td>{{ todo.description }}</td>
                        <td class="text-right">
                            <button ng-click="updateTodoModal($index)" class="btn btn-warning btn-xs">Editar</button>
                            <button ng-click="delete($index)" class="btn btn-danger btn-xs">Deletar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Create Modal-->
    <div id="createModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Todo</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Title</label>
                                <input ng-model="newTodo.title" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" ng-model="newTodo.description"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="save()" type="button" class="btn btn-primary">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--/. Create Modal-->

    <!--Update Modal-->
    <div id="updateModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Todo</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Title</label>
                                <input ng-model="todoUpdate.title" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" ng-model="todoUpdate.description"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="update()" type="button" class="btn btn-primary">Update</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--/. Update Modal-->

</div>